//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

html {
  body {
    #candidate-list-container {

      #candidate-list-heading {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        h3 {
          text-align: center;
        }
      }

      .candidate-list-wrapper {
        flex-direction: column;
        position: relative;
        border: 6px solid #D63030;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        width: 60%;
        padding: 1%;
        margin: 3% auto;
        box-shadow: 0px 14px 10px rgba(0, 0.25, 0.55, 0.55);

        // candidate-list-table
        thead {
          tr {
            th {
              text-align: center;
            }
          }
        }

        tbody {
          tr {
            position: relative;
            flex-direction: row;

            td {
              text-align: center;
            }
          }

          .basic-btn-feature {
            // Basic Button Style
            box-sizing: border-box;
            appearance: none;
            background-color: transparent;
            border: 2px solid $yellow;
            border-radius: 0.6em;
            color: $yellow;
            cursor: pointer;
            display: flex;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            margin: 10px;
            padding: 0.6em 1.5em;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;

            &:hover,
            &:focus {
              color: #fff;
              outline: 0;
            }
          }

          .btn-profile {
            border-color: $purple;
            // border: 0;
            border-radius: 0;
            color: $purple;
            position: relative;
            overflow: hidden;
            z-index: 1;
            transition: color 150ms ease-in-out;

            &:after {
              content: '';
              position: absolute;
              display: block;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 100%;
              background: $purple;
              z-index: -1;
              transition: width 150ms ease-in-out;
            }

            &:focus {
              background-color: $purple;
            }

            &:hover {
              color: #fff;

              &:after {
                width: 110%;
              }
            }
          }

          .btn-history {
            // background: $yellow;
            border-color: $yellow;
            color: $yellow;

            background: {
              image: linear-gradient(45deg, $yellow 50%, transparent 50%);
              position: 100%;
              size: 400%;
            }

            transition: background 300ms ease-in-out;

            &:hover {
              background-position: 0;
            }

            &:focus {
              background-color: $yellow;
            }
          }
        }

      }

    }
  }
}
