@import '~bootstrap/scss/bootstrap';
@import '~video-react/styles/scss/video-react';

// public
@import './nar-bar.scss';

// index page
@import './home-page/home-page';
@import './home-page/footer';
@import './home-page/notification-section.scss';
@import './home-page/game-list.scss';
@import './home-page/form-subscribe.scss';
// @import './home-page/form-subscribe.scss';

// modals
@import './candidateList';

// profile modal
@import './profile-modal/right-column.scss';
@import './profile-modal/head-bar.scss';
@import './profile-modal/carousel.scss';
@import './profile-modal/overlay-modal-reminder.scss';

// inspector's login page
@import './inspector-page/login-page.scss';

// inspector's dashboard
@import './inspector-page/dashboard/off-canvas-feature.scss';
@import './inspector-page/dashboard/candidate-list-container.scss';
@import './inspector-page/dashboard/history-list-container.scss';

@import './warning-page.scss';

html {
  body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;
  }


}
