@import '~bootstrap/scss/bootstrap';

// public


// index page
@import './home-page/home-page';
@import './home-page/footer';
@import './home-page/notification-section.scss';
@import './home-page/game-list.scss';

// modals
@import './candidateList';

// profile modal
@import './profile-modal/right-column.scss';
@import './profile-modal/head-bar.scss';


html {
  body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;
  }

  .font-color {
    /* Battle Hub */
    width: 122px;
    height: 52px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

  }
}
