html {
  body {
    .inspector-login-container {
      max-width: 500px;
      max-height: 500px;
      display: flex;
      align-items: center;

      .inspector-login-logo {

        background-image: url(../../../public/assets/logo_transparent_1.png);
        min-width: 200px;
        min-height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    @media screen and (max-width:430px) {
      .inspector-login-container {
        display: block;
      }

    }
  }
}
