$link-light-grey: #98bbda;
$primary-orange: #B85C38; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

$footer-background-color-figma: #FFF9E3;
$selection: #FBD46D;

#footer {
  position: relative;

  .croped {
    overflow: hidden;
    width: 265px;
    height: 260px;
    position: absolute;
    left: -84px;
    bottom: -100px;

    .animate-logo {
      position: absolute;
      // width: 265px;
      // height: 260px;
      // left: -84px;
      // bottom: -100px;

      background-image: url(../../../public/assets/purple-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      transition: transform 1s;
    }

    .animate-logo:hover {
      transform: translate(100px, -100px);
    }
  }

}


.col-md-4:nth-child(even) {
  // background: blue;
}

.col-md-4:nth-child(odd) {
  // background: red;
}



.app-store-button {
  background-image: url('/assets/app-store-button.png');
  background-size: 150px 40px;
  background-repeat: no-repeat;
  background-position: center;
  width: 198.867px;
  height: 50px;
}

.google-play-button {
  background-image: url('/assets/google-play-button.png');
  background-size: 150px 40px;
  background-repeat: no-repeat;
  background-position: center;
  width: 198.867px;
  height: 50px;
}



a:hover {
  color: $primary-orange;
  text-decoration: none;
}

::selection {
  background: $selection;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: $footer-background-color-figma;
  // .container .row:not(:last-child) {
  //   padding-bottom: 2rem;
  // }
}

.footer-column:not(:first-child) {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;

  //border: red solid 1px;
  .nav-item {
    .nav-link {
      padding: 0.1rem 0;
      color: #000000;

    }

    .nav-link:hover {
      color: $primary-orange;
    }

    span.nav-link {
      color: black;
    }

    span.footer-title {
      font-size: 20px;
      font-weight: 700;
      color: black;
      text-transform: uppercase;
      text-align: center;
    }

    .fas {
      margin-right: 0.5rem;
    }
  }

  ul {
    display: inline-block;

    @media (min-width: 768px) {
      text-align: left;
    }

  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #FBD46D
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: $footer-background-grey;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

.copyright {
  color: black;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}
