html {
  body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;

    .home-page-row-wrapper {
      position: relative;
      height: 70vh;

      .first-col-50 {
        position: absolute;
        width: 50%;
        height: 100%;
        left: -30px;
        background-image: url('../../../public/assets/Dungeon.Fighter.Online.full.417211.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: left_side;
        animation-duration: 1.7s;
        animation-timing-function: ease-in-out;
      }

      @keyframes left_side {
        from {
          left: -1000px;
        }

        90% {
          left: 20px;
        }

        to {
          left: -30px;
        }
      }

      .second-col-50 {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0px;
        background-image: url('../../../public/assets/Gunner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: right_side;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
      }

      @keyframes right_side {
        from {
          right: -1000px;
        }

        90% {
          right: 20px;
        }

        to {
          right: 0px;
        }
      }

      @media screen and (max-width: 1240px) {
        .first-col-50 {
          width: 50%;
          height: 100%;
        }

        .second-col-50 {
          width: 50%;
          height: 100%;
        }
      }

      @media screen and (max-width: 590ox) {
        .first-col-50 {
          display: none;
        }


      }

      @media screen and (max-width: 422px) {
        .first-col-50 {
          display: none;
        }

        .second-col-50 {
          display: none;
        }
      }

      // navigation-section
      .navigation-section {
        position: relative;
        width: 25%;
        min-height: 200px;

        .navigation-selection-wrapper {
          position: fixed;

          .navigation-font {
            /* common font feature */
            width: 130px;
            height: 42px;
            margin-left: 45px;
            margin-top: 45px;
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
            text-align: center;

            color: rgba(#C490E4, 0.5);
          }

          .navigation-font:hover {
            color: rgba(#C490E4, 1);

          }

          #ranking {
            // Ranking
            top: 304px;
            display: block;
          }

          #games {
            /* Games */
            top: 406px;
            display: block;
          }

          .triangle {
            display: inline-block;
            margin: 0 5px;
          }

          #upward-triangle {
            border-bottom: solid 30px rgba(#F5C6AA, 0.5);
            border-left: solid 30px transparent;
            border-right: solid 30px transparent;
            width: 7px;
            height: 10px;
            margin-left: 79px;
            margin-top: 100px;
          }

          #upward-triangle:hover {
            border-bottom: solid 30px rgba(#F5C6AA, 1);
          }

          #downward-triangle {
            border-top: solid 30px rgba(#F5C6AA, 0.5);
            border-left: solid 30px transparent;
            border-right: solid 30px transparent;
            width: 7px;
            height: 10px;
            margin-left: 79px;
            margin-top: 45px;
          }

          #downward-triangle:hover {
            border-top: solid 30px rgba(#F5C6AA, 1);
          }
        }

        @media screen and (max-width: 767px) {
          .navigation-selection-wrapper {
            display: none;

          }
        }
      }

      #middle-section {
        position: relative;
        min-height: 100vh;

        #candidate-list {
          min-height: 100vh;
        }

      }

      #ranking-row {
        background-color: white;
        min-height: 100vh;
        top: 70px;

      }
    }


    @media screen and (max-width: 1240px) {
      .home-page-row-wrapper {
        height: 40vh;
      }
    }

    @media screen and (max-width: 422px) {
      .home-page-row-wrapper {
        height: 10vh;
      }
    }



  }
}
