html {
  body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background: #FFFFFF;

    .home-page-row-wrapper {

      // navigation-section
      .navigation-section {
        position: relative;
        width: 25%;
        min-height: 200px;

        .navigation-selection-wrapper {
          position: fixed;

          .navigation-font {
            /* common font feature */
            width: 130px;
            height: 42px;
            margin-left: 45px;
            margin-top: 45px;
            text-decoration: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 26px;
            text-align: center;

            color: rgba(#C490E4, 0.5);
          }

          .navigation-font:hover {
            color: rgba(#C490E4, 1);

          }

          #ranking {
            // Ranking
            top: 304px;
            display: block;
          }

          #games {
            /* Games */
            top: 406px;
            display: block;
          }

          .triangle {
            display: inline-block;
            margin: 0 5px;
          }

          #upward-triangle {
            border-bottom: solid 30px rgba(#F5C6AA, 0.5);
            border-left: solid 30px transparent;
            border-right: solid 30px transparent;
            width: 7px;
            height: 10px;
            margin-left: 79px;
            margin-top: 100px;
          }

          #upward-triangle:hover {
            border-bottom: solid 30px rgba(#F5C6AA, 1);
          }

          #downward-triangle {
            border-top: solid 30px rgba(#F5C6AA, 0.5);
            border-left: solid 30px transparent;
            border-right: solid 30px transparent;
            width: 7px;
            height: 10px;
            margin-left: 79px;
            margin-top: 45px;
          }

          #downward-triangle:hover {
            border-top: solid 30px rgba(#F5C6AA, 1);
          }
        }

        @media screen and (max-width: 767px) {
          .navigation-selection-wrapper {
            display: none;

          }
        }
      }

      #middle-section {
        position: relative;
        min-height: 100vh;

        #candidate-list {
          min-height: 100vh;
        }

      }

      #ranking-row {
        background-color: white;
        min-height: 100vh;
        top: 70px;

      }
    }






  }
}
