html {
  body {
    .home-page {
      .home-page-row-wrapper {

        .notification-section {

          #popover-contained {
            margin: 0px;
          }

          // .pop-over-position {
          //   marright: 0px;
          // }

          justify-self: end;
          margin: 40px;
        }

      }

    }
  }

}
