.carousel-container {
  min-height: 40%;

  .fixed-the-size {
    max-height: 400px;
    max-width: 600px;

    .show-page-carousel-item {
      height: 400px;
      width: 600px;

      .carousel-img {
        height: 400px;
        width: 600px;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}
