html {
  body {
    #inspector-dash-board {
      min-height: 100vh;

      #candidate-list-container {

        .page-dash-board-no-list-font {}

        #candidate-list-heading {
          display: block;
        }

        .candidate-list-wrapper {
          display: block;

        }
      }
    }
  }
}
