html {
  body {
    .inspector-dash-board {
      min-height: 100vh;

      .history-list-container {


        #history-list-heading {
          display: block;
        }

        .history-list-wrapper {
          display: block;

        }
      }
    }
  }
}
